<div class="section home-info">
    <h2>Surf&Save</h2>
    <p>
        Surf&Save is an online surf shop that sells surf products across the United States. 
        This database-driven website helps manage customers, orders, and products. 
        It allows the company to track orders, customer information, product types, and sales data.
    </p>

    <ul>
        <li>Manage customers and contact information</li>
        <li>Track orders and shipping details</li>
        <li>Manage products and product types</li>
    </ul>
</div>

</div>